@import "~bulma/sass/utilities/initial-variables"
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss"

// Config vars
$tykhe-primary: #12134D
$tykhe-background: #EFEFEF
$tykhe-primary-hover: #111d6c
$tykhe-primary-invert: #fff

$primary: $tykhe-primary
$primary-invert: $tykhe-primary-invert
$black: #363636
$body-color: $black
$space: 1
$section-padding:	3rem 3rem

.modal
  opacity: 1
  transition: opacity 300ms ease-in-out

.navbar .navbar-menu
  box-shadow:none !important

.column .navbar
  background-color: transparent
  color: white

.content 
  padding: 1rem

.container .content
  padding: 0

.card-content .content
  padding: 0

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 600px
  position: relative
  left: 50%
  right: 50%
  margin: -2em -50vw
  background-size: cover
  background-position: center
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 325px
    background-size: cover
    background-position: center
    display: flex
    justify-content: center
    align-items: center

.full-width-image-home
    width: 100vw
    height: 800px
    background-size: cover
    background-position: top
    display: flex
    justify-content: center
    align-items: center

.btn
    display: inline-block
    padding: 12px 16px 10px
    font-size: 18px
    font-size: 1rem
    line-height: 1.25
    background-color: #fff
    border-radius: .25rem
    text-decoration: none
    font-weight: 700
    color: $tykhe-primary
    text-align: center
    -webkit-box-shadow: inset 0 0 0 2px $tykhe-primary
    box-shadow: inset 0 0 0 2px $tykhe-primary
    -webkit-transition: all .15s ease
    transition: all .15s ease

.margin-top-0
  margin-top: 0 !important

.margin-bottom-1
  margin-bottom: $space * 1rem
.margin-bottom-3
  margin-bottom: $space * 3rem !important

.margin-right-3
  margin-right: $space * 3rem !important

.navbar-item .icon
  color: $tykhe-primary
// Override for use of svg's from https://simpleicons.org/
.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: $tykhe-primary-invert
.navbar-brand .navbar-item.logo
  padding: 1rem

@import "~bulma"  

// blog roll
.blog-list-item.is-featured
  background-color: #d6400033;
 
.blog-list-item .featured-thumbnail
  flex-basis: 35%;
  

$navbar-height: 5rem



.breadcrumb a
  color: $tykhe-primary

.section
  background-color: $tykhe-background

.content figure 
  margin-left: 0em;
  margin-right: 0em;
  text-align: center;

.box
  padding: .25rem

// responsiveness
+tablet-only
  .blog-list-item .featured-thumbnail
    flex-basis: 50%;

+mobile
  .blog-list-item header
    display: block
  .blog-list-item .featured-thumbnail
    text-align: center;
    max-width: 70%;
    margin: 0 0 1em;

.navbar-item img
  max-height: 8rem

@media screen and (min-width: 769px), print
  .hero.is-small .hero-body
    padding-top: 0rem
    padding-bottom: 0rem


@media screen and (min-width: 769px), print
  .hero.is-large .hero-body 
    padding-bottom: 15rem
    padding-top: 15rem

@media screen and (min-width: 769px), print
  .hero.is-medium .hero-body 
    padding-bottom: 7rem
    padding-top: 7rem

.hero.is-primary .tabs.is-boxed li.is-active a
  background-color: $tykhe-background
  font-weight: bold

.footer 
  background-color: #0c0f0f
  color: grey


.footer a, .level a 
  color: whitesmoke
  padding: 0.5rem
  display: inline-block

.footer a:hover
  background: transparent
  opacity: 0.75

.footer-top-shadow 
  box-shadow: 0 1px 3px rgba(10, 10, 10, 0.1)

.navbar-item 
  color: white

a.navbar-item
    color: white

.navbar.is-primary .navbar-start > a.navbar-item:focus, .navbar.is-primary .navbar-start > a.navbar-item:hover, .navbar.is-primary .navbar-start > a.navbar-item.is-active, .navbar.is-primary .navbar-end > a.navbar-item:focus, .navbar.is-primary .navbar-end > a.navbar-item:hover, .navbar.is-primary .navbar-end > a.navbar-item.is-active, transparent, .navbar.is-primary .navbar-start .navbar-link:hover, .navbar.is-primary .navbar-item.has-dropdown:hover .navbar-link, .hero.is-primary a.navbar-item:hover
    background-color: $tykhe-primary-hover
    color: $tykhe-primary-invert

.navbar-dropdown 
    background-color: $tykhe-primary-hover
.hero.is-custom
    background-color: $tykhe-primary
    color: $tykhe-primary
.tag.is-medium
  font-size: 0.75rem !important
  background-color: $tykhe-primary
  color: $tykhe-primary-invert
  margin: 2px 3px
.tag.is-medium:hover
  background-color: $tykhe-primary-hover
.card
  height: 100%
.timeline-card-content
  width: 70% !important